{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Society</th>
                <td>{{ client.society }}</td>
            </tr>
            <tr>
                <th>Activity</th>
                <td>{{ client.activity }}</td>
            </tr>
            <tr>
                <th>ContactName</th>
                <td>{{ client.contactName }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ client.status }}</td>
            </tr>
            <tr>
                <th>ContactNumber</th>
                <td>{{ client.contactNumber }}</td>
            </tr>
            <tr>
                <th>ContactEmail</th>
                <td>{{ client.contactEmail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
